NEXT_PUBLIC_SUPABASE_URL=https://hhfjlephjzsylzcbhspg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhoZmpsZXBoanpzeWx6Y2Joc3BnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMjY2NzAsImV4cCI6MjA5NDcwMjY3MH0.KG-v-sOb1_-jPLTOnCv0yosVq5JXpao_tUgyb18GeFk
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4.1-mini
